<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap 4 -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-4.5.0.css">
    <script src="/scripts/jquery.min.js" defer="true"></script>
    <script src="/scripts/bootstrap.min.js" defer="true"></script>
    <script src="/scripts/popper.min.js" defer="true"></script>
    <!-- // -->
<script>
let videosFolders = <%- JSON.stringify( ejsVideosFolders ) %>;
videosFolders = JSON.parse(videosFolders);
let audiosFolders = <%- JSON.stringify( ejsAudiosFolders ) %>;
audiosFolders = JSON.parse(audiosFolders);
let imagesFolders = <%- JSON.stringify( ejsImagesFolders ) %>;
imagesFolders = JSON.parse(imagesFolders);
let pdfsFolders = <%- JSON.stringify( ejsPdfsFolders ) %>;
pdfsFolders = JSON.parse(pdfsFolders);
let ebooksFolders = <%- JSON.stringify( ejsEbooksFolders ) %>;
ebooksFolders = JSON.parse(ebooksFolders);
let compressedSoftwaresFolders = <%- JSON.stringify( ejsCompressedSoftwaresFolders ) %>;
compressedSoftwaresFolders = JSON.parse(compressedSoftwaresFolders);
let isoSoftwaresFolders = <%- JSON.stringify( ejsIsoSoftwaresFolders ) %>;
isoSoftwaresFolders = JSON.parse(isoSoftwaresFolders);
let compressedGamesFolders = <%- JSON.stringify( ejsCompressedGamesFolders ) %>;
compressedGamesFolders = JSON.parse(compressedGamesFolders);
let isoGamesFolders = <%- JSON.stringify( ejsIsoGamesFolders ) %>;
isoGamesFolders = JSON.parse(isoGamesFolders);
let apkAppsFolders = <%- JSON.stringify( ejsApkAppsFolders ) %>;
apkAppsFolders = JSON.parse(apkAppsFolders);
let compressedAppsFolders = <%- JSON.stringify( ejsCompressedAppsFolders ) %>;
compressedAppsFolders = JSON.parse(compressedAppsFolders);
let compressedOthersFolders = <%- JSON.stringify( ejsCompressedOthersFolders ) %>;
compressedOthersFolders = JSON.parse(compressedOthersFolders);
let isoOthersFolders = <%- JSON.stringify( ejsIsoOthersFolders ) %>;
isoOthersFolders = JSON.parse(isoOthersFolders);
</script>
    <script src="/scripts/upload-files.js" defer="true"></script>
    <meta charset="UTF-8">
    <title>Upload Files</title>
    <style>
        form {
            border: 1px solid black;
            border-radius: 5px;
            margin: 5px;
            padding: 5px;
        }
        h1 {
            color: dodgerblue;
        }
        #circle-loading {
            z-index: 10;
            width: 40vw;
            height: 40vw;
            position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -20vw;
            margin-top: -20vw;
            border-width: 1vw;
            display: none;
        }
        #background-loading {
            z-index: 9;
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: #95999c;
            opacity: 50%;
            display: none;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">File Manager</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/video-manager">Videos</a>
                    <a class="dropdown-item" href="#">Audios</a>
                    <a class="dropdown-item" href="/image-manager">Images</a>
                    <a class="dropdown-item" href="#">Books</a>
                    <a class="dropdown-item" href="#">Softwares</a>
                    <a class="dropdown-item" href="#">Games</a>
                    <a class="dropdown-item" href="#">Applications</a>
                    <a class="dropdown-item" href="#">Others</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/upload-files">Upload</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <div class="nav-link" style="cursor: pointer;user-select: none" onclick="showShutdownPopUp()">Shutdown</div>
          </li>
        </ul>
    </nav>
    <div id="background-shutdown" class="container-fluid">
        <div class="row">
            <h1 class="text-info">Are you sure you want to shutdown the server !</h1>
        </div><br><br><br>
        <div class="row">
            <button type="button" onclick="shutdown()" class="btn btn-success col-lg-5">Yes</button>
            <div class="col-lg-2" style="height: 2.5vw"></div>
            <button type="button" onclick="hideShutdownPopUp()" class="btn btn-danger col-lg-5">No</button>
        </div>
    </div>
    <!-- Shutdown popup -->
    <link rel="stylesheet" href="/stylesheets/shutdown.css">
    <script src="/scripts/shutdown.js" defer="true"></script>
    <!-- // -->

    <div class="container-fluid">
        <div class="jumbotron row">
            <h1>Upload files</h1>
        </div>

        <div>
            <div class="row">
                <div class="col-lg-6">
                    <form id="videos" action="/upload-video" method="post" enctype="multipart/form-data">
                        <b><label>Upload videos : </label></b><br>
                        <p>Choose an existing folder or create a new one (not required) : </p>
                        <label>Choose an existing folder : &nbsp;</label>
                        <br><label>Create a new folder : </label>
                        <input class="form-control folderName" type="text" class="folderName" name="folderName" autocomplete="off"><br>
                        <input class="up-file" type="file" accept="video/*, .mkv, .avi" id="upVideo" name="upVideo" required multiple><br><br>
                        <input class="btn btn-primary submit" type="submit" value="Upload the videos">
                    </form><br><hr>
                </div>

                <div class="col-lg-6">
                    <form id="audios" action="/upload-audio" method="post" enctype="multipart/form-data">
                        <b><label>Upload audios : </label></b><br>
                        <p>Choose an existing folder or create a new one (not required) : </p>
                        <label>Choose an existing folder : &nbsp;</label>
                        <br><label>Create a new folder : </label>
                        <input class="form-control folderName" type="text" name="folderName" autocomplete="off"><br>
                        <input class="up-file" type="file" accept="audio/*" id="upAudio" name="upAudio" required multiple><br><br>
                        <input class="btn btn-primary submit" type="submit" value="Upload the audios">
                    </form><br><hr>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <form id="images" action="/upload-image" method="post" enctype="multipart/form-data">
                        <b><label>Upload images : </label></b><br>
                        <p>Choose an existing folder or create a new one (not required) : </p>
                        <label>Choose an existing folder : &nbsp;</label>
                        <br><label>Create a new folder : </label>
                        <input class="form-control folderName" type="text" name="folderName" autocomplete="off"><br>
                        <input class="up-file" type="file" accept="image/*" id="upImage" name="upImage" required multiple><br><br>
                        <input class="btn btn-primary submit" type="submit" value="Upload the images"><br><br><br><br><br><br>
                    </form><br><hr>
                </div>

                <div class="col-lg-6">
                    <form id="books" action="/upload-book" method="post" enctype="multipart/form-data">
                        <b><label>Upload books : </label></b><br><br>
                        <label>File format : </label>
                        <select class="form-control" id="bookType" onchange="bookTypeChange(this)">
                            <option>PDF</option>
                            <option>eBook</option>
                        </select><br>
                        <p>Choose an existing folder or create a new one (not required) : </p>
                        <label>Choose an existing folder : &nbsp;</label>
                        <br><label>Create a new folder : </label>
                        <input class="form-control folderName" type="text" name="folderName" autocomplete="off"><br>
                        <input class="up-file" type="file" accept="application/pdf" id="upBook" name="upPdf" required multiple><br><br>
                        <input class="btn btn-primary submit" type="submit" value="Upload the books">
                    </form><br><hr>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <form id="softwares" action="/upload-software" method="post" enctype="multipart/form-data">
                        <b><label>Upload softwares : </label></b><br><br>
                        <label>File format : </label>
                        <select class="form-control" id="softwareType" onchange="softwareTypeChange(this)">
                            <option>Compressed</option>
                            <option>ISO</option>
                        </select><br>
                        <p>Choose an existing folder or create a new one (not required) : </p>
                        <label>Choose an existing folder : &nbsp;</label>
                        <br><label>Create a new folder : </label>
                        <input class="form-control folderName" type="text" name="folderName" autocomplete="off"><br>
                        <input class="up-file" type="file" accept=".zip, .rar, 7z" id="software" name="upCompressedSoftware" required multiple><br><br>
                        <input class="btn btn-primary submit" type="submit" value="Upload the softwares">
                    </form><br><hr>
                </div>

                <div class="col-lg-6">
                    <form id="games" action="/upload-game" method="post" enctype="multipart/form-data">
                        <b><label>Upload games : </label></b><br><br>
                        <label>File format : </label>
                        <select class="form-control" id="gameType" onchange="gameTypeChange(this)">
                            <option>Compressed</option>
                            <option>ISO</option>
                        </select><br>
                        <p>Choose an existing folder or create a new one (not required) : </p>
                        <label>Choose an existing folder : &nbsp;</label>
                        <br><label>Create a new folder : </label>
                        <input class="form-control folderName" type="text" name="folderName" autocomplete="off"><br>
                        <input class="up-file" type="file" accept=".zip, .rar, 7z" id="game" name="upCompressedGame" required multiple><br><br>
                        <input class="btn btn-primary submit" type="submit" value="Upload the games">
                    </form><br><hr>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <form id="apps" action="/upload-apk" method="post" enctype="multipart/form-data">
                        <b><label>Upload mobile applications : </label></b><br><br>
                        <label>File format : </label>
                        <select class="form-control" id="appType" onchange="apkTypeChange(this)">
                            <option>Apk</option>
                            <option>Compressed</option>
                        </select><br>
                        <p>Choose an existing folder or create a new one (not required) : </p>
                        <label>Choose an existing folder : &nbsp;</label>
                        <br><label>Create a new folder : </label>
                        <input class="form-control folderName" type="text" name="folderName" autocomplete="off"><br>
                        <input class="up-file" type="file" accept=".apk" id="apk" name="upApkApp" required multiple><br><br>
                        <input class="btn btn-primary submit" type="submit" value="Upload the applications">
                    </form><br><hr>
                </div>

                <div class="col-lg-6">
                    <form id="others" action="/upload-other" method="post" enctype="multipart/form-data">
                        <b><label>Upload others : </label></b><br><br>
                        <label>File format : </label>
                        <select class="form-control" id="otherType" onchange="otherTypeChange(this)">
                            <option>Compressed</option>
                            <option>ISO</option>
                        </select><br>
                        <p>Choose an existing folder or create a new one (not required) : </p>
                        <label>Choose an existing folder : &nbsp;</label>
                        <br><label>Create a new folder : </label>
                        <input class="form-control folderName" type="text" name="folderName" autocomplete="off"><br>
                        <input class="up-file" type="file" accept=".zip, .rar, 7z" id="other" name="upCompressedOther" required multiple><br><br>
                        <input class="btn btn-primary submit" type="submit" value="Upload the files">
                    </form><br><hr>
                </div>
            </div>
        </div>
    </div>

    <div class="spinner-border text-primary" id="circle-loading"></div>
    <div id="background-loading"></div>
    <audio id="music-loading" style="display: none" loop>
        <source src="/music/Funny1.mp3"></source>
    </audio>
<script>
function loading() {
    let circleLoading = document.getElementById("circle-loading");
    let backgroundLoading = document.getElementById("background-loading");
    let musicLoading = document.getElementById("music-loading");
    circleLoading.style.display = "block";
    backgroundLoading.style.display = "block";
    document.body.style.overflow = "hidden";
    musicLoading.play();
}
let submits = document.getElementsByClassName("submit");
let upFile = document.getElementsByClassName("up-file");
for (let i = 0; i < submits.length; i++) {
    submits[i].addEventListener("click", function() {
      if (upFile[i].files.length != 0) {
        loading();
      }
    });
}
</script>
</body>
</html>
